<nb-layout>
  <nb-sidebar>
    <!-- SIDE BAR HEADER-->
    <nb-sidebar-header>
      <h1>Necro</h1>
    </nb-sidebar-header>
    <!-- SIDE BAR CONTENT -->
    <nb-menu [items]="items">
    </nb-menu>
    <!-- SIDE BAR MENU -->

    <nb-sidebar-footer>
      <nb-menu [items]="items">
      </nb-menu>
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column class="colored-column-success">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
