/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

nb-sidebar {
  nb-sidebar-header {
    height: auto !important;
  }
}
